*
!.github
!.github/**
!.tests
!.tests/data
!config
!config/REAMDE.md
!config/config.yaml
!config/multiqc_config.yaml
!config/pep
!config/pep/config.yaml
!config/pep/samples.csv
!docs
!docs/**
!publication
!publication/*
!resources/
!resources/custom-stylesheet.css
!resources/lineage-variant-table-formatter.js
!workflow
!workflow/*
!workflow/envs/*
!workflow/notebooks/*
!workflow/report/*
!workflow/rules/*
!workflow/scripts/**
!workflow/schemas/*
!.editorconfig
!.gitattributes
!.gitignore
!.markdownlint.yaml
!.pre-commit-config.yaml
!.snakemake-workflow-catalog.yml
!LICENSE
!mkdocs.yml
!README.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
