*
!.github
!workflow
!workflow/*
!workflow/report/*
!workflow/envs/*
!workflow/scripts/*
!workflow/notebooks/*
!workflow/rules/*
!workflow/schemas/*
!workflow/rules/annotation/*
!workflow/resources/*
!config
!config/REAMDE.md
!config/config.yaml
!config/multiqc_config.yaml
!config/pep
!config/pep/*
!LICENSE
!README.md
!.snakemake-workflow-catalog.yml
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.tests
!.tests/data
!preprocessing/
!preprocessing/update-sample-sheet.py
!resources/
!resources/custom-stylesheet.css