name: Deploy Documentation

on:
  push:
    branches:
      - master
    paths:
      - '**.md'
      - 'docs/**'
      - 'mkdocs.yml'
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: SetUp Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Update Changelog
        run: cat CHANGELOG.md > docs/about/changelog.md

      - name: Update License
        run: cat LICENSE > docs/about/license.md

      - name: Install Dependencies
        run: pip install mkdocs-material

      - name: Publish Docs
        run: mkdocs gh-deploy --force
